@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex: 1;
    margin: 0;
    height: 100vh;
}

header{
    background-image: url("./assets/sakura.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 1 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    height: 100px;
    width: 28.2vw;
    background: #8888889f;
    justify-content: center;
    gap: 20px;
}

.odin-text{
    font-family: 'Norse Bold';
    color: #ffffff;
    font-size: 48px;
}

.logo img{
    width: 80px;
}

main{
    min-height: 100vh;
    height: auto;
    flex-basis: 60%;
    flex-grow: 2;
    background-color: #F9FAFB;
}